In [2]:
# import the required libraries

import seaborn as sns
import pandas as pd
import os

In [35]:
# Taking a look at the info
df = pd.read_csv('final_merged_customer.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                10000 non-null  int64
 1   total_orders               10000 non-null  int64
 2   total_items                10000 non-null  int64
 3   total_spent                10000 non-null  float64
 4   order_id                   10000 non-null  object
 5   items                      10000 non-null  int64
 6   aperitifs                  10000 non-null  object
 7   appetizers                 10000 non-null  object
 8   entrees                    10000 non-null  object
 9   desserts                   10000 non-null  object
 10  total                      10000 non-null  float64
 11  address                    9519 non-null   object
 12  city                       9519 non-null   object
 13  credit_card_expires        9542 non-null   object
 14  credit_card_number         9542 non-null   float64
 15  credit_card_provider       9542 non-null   object
 16  credit_card_security_code  9542 non-null   float64
 17  customer_demographics_id   10000 non-null  object
 18  email                      8803 non-null   object
 19  name                       10000 non-null  object
 20  phone_number               8006 non-null   object
 21  state                      9519 non-null   object
 22  zip_code                   9519 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.8+ MB

In [119]:
# Finding the cities that made the most orders
most_orders = df["state"].value_counts().sort_values(ascending=False).head()
states_most_orders = most_orders.index.tolist()
most_orders

state
Massachusetts     230
Maryland          228
Louisiana         225
South Carolina    223
North Carolina    217
Name: count, dtype: int64

In [82]:
# Find out how much money was made in the states with the most orders
states_most_orders_df = df[df['state'].isin(states_most_orders)]
states_most_orders_revenue = "{:.2f}".format(states_most_orders_df['total_spent'].sum())

print(f"""Total revenue: ${states_most_orders_revenue}
Orders completed: {len(states_most_orders_df)}
Avg $ per order: ${'{:.2f}'.format(states_most_orders_df['total_spent'].sum()/len(states_most_orders_df))}""")

Total revenue: $1312156.60
Orders completed: 1123
Avg $ per order: $1168.44

In [114]:
# Finding the cities that spent the most money
most_revenue = df.groupby('state')['total_spent'].sum()
most_revenue = most_revenue.reset_index().sort_values(by='total_spent')
most_revenue = most_revenue.sort_values(by='total_spent', ascending=False).head()
states_most_revenue = most_revenue.set_index('state').index.tolist()
print(states_most_revenue)
most_revenue

['Maryland', 'Massachusetts', 'Illinois', 'Louisiana', 'Georgia']

            state  total_spent
19       Maryland    282706.97
20  Massachusetts    273518.45
12       Illinois    263169.71
17      Louisiana    261845.45
9         Georgia    260986.75

In [130]:
# Find out how much money was made in the states with the most revenue
states_most_revenue_df = df[df['state'].isin(states_most_revenue)]

print(f"""Total Revenue: ${'{:.2f}'.format(most_revenue['total_spent'].sum())}
Orders completed: {len(states_most_revenue_df)}
Avg $ per order: {'{:.2f}'.format(most_revenue['total_spent'].sum()/len(states_most_revenue_df))}""")

Total Revenue: $1342227.33
Orders completed: 1095
Avg $ per order: 1225.78

From this we can conclude that we should establish locations in the states generating the highest revenue.

In [142]:
#Finding the most orered aperitifs
states_most_orders_df['aperitifs'].value_counts()

aperitifs
Port                121
Champagne           113
Aperol Spritz       112
Bellini             111
Vermouth            106
Campari and Soda     99
Americano            95
Kir                  94
Kir Royale           94
Sherry               90
Negroni              88
Name: count, dtype: int64

In [143]:
#Finding the most orered entrees
states_most_orders_df['entrees'].value_counts()

entrees
Steak         125
Lobster       117
Pasta         111
Pork          110
Burger        107
Lamb          104
Vegetarian    101
Chicken        94
Duck           91
Pizza          83
Fish           80
Name: count, dtype: int64

In [144]:
#Finding the most orered desserts
states_most_orders_df["desserts"].value_counts()

desserts
Pudding           117
Creme Brulee      107
Sorbet            106
Cheesecake        104
Tiramisu          101
Ice Cream         100
Cobbler           100
Chocolate Cake     98
Chocolate          97
Pie                97
Cookies            96
Name: count, dtype: int64

In [145]:
#Finding the most orered appetizers
states_most_orders_df["appetizers"].value_counts()

appetizers
Caviar           112
Soup             111
Salad            108
Foie Gras        106
Oysters          103
Smoked Salmon    103
Escargot         100
Crudites          99
Pate              97
Cheese Plate      94
Charcuterie       90
Name: count, dtype: int64